/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Card Estilo Vidro (Glassmorphism) */
.container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    width: 100%;
    max-width: 400px; /* Largura ideal para Notebook */
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

/* Campo de Busca */
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}

.input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

button {
    padding: 12px 20px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #feb47b;
    transform: scale(1.05);
}

/* Resultado */
#weather-info {
    margin-top: 20px;
}

#city-name {
    font-size: 2rem;
    margin-bottom: 10px;
}

#temp {
    font-size: 3.5rem;
    font-weight: bold;
}

/* RESPONSIVIDADE (Celulares) */
@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .search-box {
        flex-direction: column; /* Botão fica embaixo do input no celular */
    }

    button {
        width: 100%;
    }
}